@import '../../../../../app/assets/stylesheets/page_bundles/environments';

.alert-dropdown-button {
  margin-left: $btn-side-margin;

  .dropdown.open & {
    background: var(--gray-50, $gray-50);
    outline: 0;
  }

  svg {
    margin: 0;

    + svg {
      margin-left: -$gl-padding-4;
    }

    &.chevron {
      color: var(--gray-500, $gray-500);
    }
  }
}

.alert-dropdown-menu {
  right: 0;
  left: auto;
  z-index: $zindex-popover + 5; // must be higher than graph flag popover
}

.alert-error-message {
  color: var(--red-500, $red-500);
  vertical-align: middle;
}

.alert-modal-message {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -1rem;
}

.alert-form {
  .btn-group {
    display: flex;
  }
}
