@import 'page_bundles/ide_mixins';

.ide-right-sidebar {
  .multi-file-commit-panel-inner.ide-right-sidebar-terminal {
    padding: 0;
  }
}

.ide-terminal {
  @include ide-trace-view();

  .terminal-wrapper {
    background: $black;
    color: $gray-darkest;
    overflow: hidden;
  }

  .xterm {
    height: 100%;
    padding: $grid-size;
  }

  .xterm-viewport {
    overflow-y: auto;
  }
}
