- issue = local_assigns.fetch(:issue)

- if issue.weight
  %span.issuable-weight.d-none.d-sm-inline-block.has-tooltip{ data: { container: 'body', qa_selector: 'issuable_weight_content' }, title: _('Weight') }
    &nbsp;
    = sprite_icon('weight', css_class: 'issue-weight-icon')
    = issue.weight
