- return unless issue_in_subepic?(issue, params[:epic_id])

%span.d-inline-block.ml-1{ title: _('This issue is in a child epic of the filtered epic'), data: { toggle: 'tooltip', container: 'body' } }
  = sprite_icon('information-o', size: 16, css_class: 'd-block text-primary-500 hover-text-primary-800')
