- return unless can?(current_user, :update_max_pages_size)
- expanded = expanded_by_default?

%section.settings.gs-pages.no-animate#js-pages-settings{ class: ('expanded' if expanded) }
  .settings-header
    %h4.settings-title.js-settings-toggle.js-settings-toggle-trigger-only{ role: 'button' }
      = _('Pages')
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded ? _('Collapse') : _('Expand')
    %p
      = _('Size settings for static websites')
  .settings-content
    = render 'groups/settings/pages_settings'
