- if project.marked_for_deletion?
  %span.d-flex.badge-pill.gl-badge.badge-warning.gl-ml-3
    = _('pending deletion')
- elsif project.archived
  %span.d-flex.badge-pill.gl-badge.badge-warning.gl-ml-3
    = _('archived')
