- page_title 'Audit Log'

.todos-filters
  .row-content-block.second-block.pb-0
    = form_tag admin_audit_logs_path, method: :get, class: 'filter-form d-flex justify-content-between audit-controls row' do
      .col-lg-auto.flex-fill.form-group.align-items-lg-center.pr-lg-8
        #js-audit-logs-filter-app

      .d-flex.col-lg-auto.flex-wrap.pl-lg-0
        .audit-controls.d-flex.align-items-lg-center.flex-column.flex-lg-row.col-lg-auto.px-0
          #js-audit-logs-date-range-app
          #js-audit-logs-sorting-app

- if @table_events.present?
  #js-audit-logs-table-app{ data: { events: @table_events.to_json, is_last_page: @events.last_page?.to_json, qa_selector: 'admin_audit_log_table' } }
