- page_title 'Audit Log'

#js-audit-log-app{ data: { form_path: admin_audit_logs_path,
  events: @table_events.to_json,
  is_last_page: @events.last_page?.to_json,
  filter_qa_selector: 'admin_audit_log_filter',
  table_qa_selector: 'admin_audit_log_table',
  enabled_token_types: admin_audit_log_token_types } }
