%h1
  GitLab for Jira Configuration

%form#add-subscription-form{ style: 'margin-bottom: 20px;' }
  .ak-field-group
    %label
      Namespace
    %input#namespace-input.ak-field-text{ type: 'text', required: true }

  .ak-field-group
    %button.ak-button.ak-button__appearance-primary{ type: 'submit' }
      Link namespace to Jira

%table.subscriptions
  %thead
    %tr
      %th Namespace
      %th Added
      %th
  %tbody
    - @subscriptions.each do |subscription|
      %tr
        %td= subscription.namespace.full_path
        %td= subscription.created_at
        %td= link_to 'Remove', jira_connect_subscription_path(subscription), class: 'remove-subscription'

:javascript
  window.onload = function() {
    $('#add-subscription-form').submit(function(e) {
      e.preventDefault();

      AP.context.getToken(function(token) {
        $.post('/-/jira_connect/subscriptions', {
          jwt: token,
          namespace_path: $('#namespace-input').val(),
          format: 'json',
        })
          .done(function(response) {
            AP.navigator.reload();
          })
          .fail(function(xhr) {
            alert(xhr.responseJSON.error);
          });
      });
    });

    $('.remove-subscription').click(function(e) {
      e.preventDefault();

      var href = $(this).attr('href');

      AP.context.getToken(function(token) {
        $.ajax({
          url: href,
          method: 'DELETE',
          data: {
            jwt: token,
            format: 'json',
          },
        })
          .done(function(response) {
            AP.navigator.reload();
          })
          .fail(function(xhr) {
            alert(xhr.responseJSON.error);
          });
      });
    });
  };
