- add_to_breadcrumbs s_('ThreatMonitoring|Threat Monitoring'), project_threat_monitoring_path(@project)
- page_title s_('ThreatMonitoring|Alert Details')

#js-alert_details{ data: threat_monitoring_alert_details_data(@project, @alert_iid) }

