- add_to_breadcrumbs s_("ThreatMonitoring|Threat Monitoring"), project_threat_monitoring_path(@project)
- breadcrumb_title s_("NetworkPolicies|New policy")
- page_title s_("NetworkPolicies|Policy editor")

#js-policy-builder-app{ data: { network_policies_endpoint: project_security_network_policies_path(@project),
  configure_agent_help_path: help_page_url('user/clusters/agent/repository.html'),
  create_agent_help_path: help_page_url('user/clusters/agent/index.md', anchor: 'create-an-agent-record-in-gitlab'),
  environments_endpoint: project_environments_path(@project),
  project_path: @project.full_path,
  threat_monitoring_path: project_threat_monitoring_path(@project),
} }
