- breadcrumb_title s_("ThreatMonitoring|Threat Monitoring")
- page_title s_("ThreatMonitoring|Threat Monitoring")

#js-threat-monitoring-app{ data: { documentation_path: help_page_path('user/clusters/applications', anchor: 'web-application-firewall-modsecurity'),
  empty_state_svg_path: image_path('illustrations/security-dashboard-empty-state.svg'),
  is_waf_setup: 'false',
  endpoint: 'dummy',
} }
