- add_to_breadcrumbs s_('OnDemandScans|On-demand Scans'), namespace_project_on_demand_scans_path(@project.group, @project)
- breadcrumb_title s_('DastProfiles|Manage profiles')
- page_title s_('DastProfiles|Manage profiles')

%h1= s_('DastProfiles|Manage profiles')

