- page_title _('Jira Issues')
- add_page_specific_style 'page_bundles/issues_list'

.js-jira-issues-list{ data: { issues_fetch_path: project_integrations_jira_issues_path(@project, format: :json),
  page: params[:page],
  initial_state: params[:state],
  initial_sort_by: params[:sort],
  project_full_path: @project.full_path,
  issue_create_url: @project.external_issue_tracker.new_issue_url,
  empty_state_path: image_path('illustrations/issues.svg') } }
