.form-group
  = f.label :group_view, class: 'label-bold' do
    = _('Group overview content')
  = f.select :group_view, group_view_choices, {}, class: 'form-control'
  .form-text.text-muted
    = _('Choose what content you want to see on a group’s overview page')
