- page_title _('Checkout')

.row.flex-grow-1.flex-column.flex-nowrap.flex-lg-row.flex-xl-row.flex-lg-wrap.flex-xl-wrap
  .checkout-pane.align-items-center.bg-gray-light.col-lg-7.d-flex.flex-column.flex-grow-1
    #checkout{ data: subscription_data }
  .summary-pane.col-lg-5.d-flex.flex-row.justify-content-center
    #summary
