testdata/data
testdata/scratch
testdata/public
/gitlab-workhorse
/gitlab-zip-cat
/gitlab-zip-metadata
/_build
# Avoid distributing redigomock because it is GPLv2
/vendor/github.com/rafaeljusto/redigomock
coverage.html
