.blank-state
  .blank-state-icon
    = image_tag("illustrations/lock_promotion.svg", { lazy: false })
  .blank-state-body
    %h3.blank-state-title
      Unlock more features with GitLab Ultimate
    %p.blank-state-text
      GitLab is free to use.
      Many features for larger teams are part of
      our
      = succeed "." do
        = link_to "paid products", "https://about.gitlab.com/pricing/", target: "_blank", rel: "noopener noreferrer nofollow"
      You can try Ultimate for free without
      any obligation or payment details.
    = link_to new_trial_url, class: "btn btn-success" do
      Start free trial
