.row.empty-state
  .col-12
    .svg-content.svg-250
      = image_tag 'illustrations/erased-log_empty.svg'
    .text-content
      %h4.gl-text-center
        = s_("RemovedProjects|You haven’t removed any projects.")
      %p.gl-text-gray-500
        = s_("RemovedProjects|Projects which are removed and are yet to be permanently removed are visible here.")
