- if smartcard_enabled?
  %li.nav-item
    = link_to _('Smartcard'), '#smartcard', class: "nav-link #{active_when(form_based_auth_provider_has_active_class?(:smartcard))}", 'data-toggle' => 'tab', role: 'tab'
