- page_title _('Audit Events')

%h3.page-title= _('Group audit events')
%p.light
  = _("Track important events in your group.")
  = link_to _('What are group audit events?'), help_page_path('administration/audit_events.md', anchor: 'group-events'), target: '_blank', rel: 'noopener noreferrer'

#js-group-audit-events-app{ data: { form_path: group_audit_events_path(@group),
  events: @events.to_json,
  is_last_page: @is_last_page.to_json,
  filter_token_options: group_audit_event_tokens(@group.id).to_json,
  show_filter: show_filter_for_group?(@group).to_json } }
