- issuables = local_assigns.fetch(:issuables)
- issuables_with_weight = issuables.select(&:weight_available?).map(&:weight).compact

- return if issuables_with_weight.empty?

%span.weight.gl-ml-3
  = sprite_icon('weight', css_class: 'gl-vertical-align-text-bottom')
  = issuables_with_weight.sum
