- breadcrumb_title _('Dependency List')
- page_title _('Dependency List')

#js-dependencies-app{ data: { endpoint: project_security_dependencies_path(@project), documentation_path: help_page_path('user/application_security/dependency_list/index'), empty_state_svg_path: image_path('illustrations/Dependency-list-empty-state.svg') } }
