.issues-list {
  .issue {
    padding: 10px 0 10px $gl-padding;
    position: relative;

    .title {
      margin-bottom: 2px;
    }

    .issue-labels {
      display: inline-block;
    }

    .icon-merge-request-unmerged {
      height: 13px;
      margin-bottom: 3px;
     }
  }
}

.check-all-holder {
  line-height: 36px;
  float: left;
  margin-right: 15px;
}

.issues_content {
  .title {
    height: 40px;
  }

  form {
    margin: 0;
  }
}

form.edit-issue {
  margin: 0;
}

ul.related-merge-requests > li {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  .merge-request-id {
    flex-shrink: 0;
  }

  .merge-request-info {
    margin-left: 5px;
  }
}

.merge-requests-title,
.related-branches-title {
  font-size: 16px;
  font-weight: 600;
}

.merge-request-id {
  display: inline-block;
}

.merge-request-status {
  font-size: 13px;
  padding: 0 5px;
  color: $white-light;
  height: 20px;
  border-radius: 3px;
  line-height: 18px;

  &.merged {
    background: $blue-500;
  }

  &.closed {
    background: $red-500;
  }

  &.open {
    background: $green-500;
  }
}

.merge-request,
.issue {
  &.today {
    background: $issues-today-bg;
    border-color: $issues-today-border;
  }

  &.closed {
    background: $gray-light;
    border-color: $border-color;
  }

  &.merged {
    background: $gray-light;
    border-color: $border-color;
  }
}

.merge-request-ci-status {
  svg {
    margin-right: 4px;
    position: relative;
    top: 1px;
  }
}

@media (max-width: $screen-xs-max) {
  .issue-btn-group {
    width: 100%;

    .btn {
      width: 100%;
    }
  }
}

.issue-form .select2-container {
  width: 250px !important;
}

.issues-footer {
  padding-top: $gl-padding;
  padding-bottom: 37px;
}

.issues-export-modal {
  .export-svg-container {
    height: 56px;
    padding: 10px 10px 0;
  }

  svg {
    height: 100%;
  }

  .export-checkmark {
    color: $green-400;
  }
}

.issue-email-modal-btn {
  padding: 0;
  color: $gl-link-color;
  background-color: transparent;
  border: 0;
  outline: 0;

  &:hover {
    text-decoration: underline;
  }
}

.email-modal-input-group {
  margin-bottom: 10px;

  .form-control {
    background-color: $white-light;
  }

  .btn {
    background-color: $gray-light;
    border: 1px solid $border-gray-normal;
  }
}

.recaptcha {
  margin-bottom: 30px;
}



.issue-count-holder {
  display: inline-flex;
  align-items: stretch;
  height: 24px;
}

.issue-count-holder-count {
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid $border-color;
  border-radius: $border-radius-base;
  line-height: 1;

  &.has-btn {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.issue-count-holder-add-button {
  display: flex;
  align-items: center;
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: $border-radius-base;
  border-bottom-right-radius: $border-radius-base;
  line-height: 1;
}

.issue-token {
  display: inline-flex;
  line-height: 1.5;
  white-space: nowrap;
}

.issue-token-reference {
  display: flex;
  align-items: baseline;
  margin-right: 1px;
  padding: 0 .5em;
  background-color: $gray-lighter;

  transition: background 0.2s ease, color 0.2s ease;

  &:hover,
  &:focus,
  .issue-token:hover > &,
  .issue-token:focus > & {
    background-color: $gray-normal;
    color: $gl-link-hover-color;
    text-decoration: none;
  }
}

@mixin issue-token-state-icon {
  margin-right: 0.35em;
  font-size: 0.9em;
}

.issue-token-state-icon-open {
  @include issue-token-state-icon;
  color: $green-600;
}

.issue-token-state-icon-closed {
  @include issue-token-state-icon;
  color: $red-600;
}

.issue-token-title {
  display: flex;
  align-items: baseline;
  padding: 0 .5em;
  background-color: $gray-normal;
  color: $gl-text-color-secondary;

  transition: background 0.2s ease, color 0.2s ease;

  &:hover,
  &:focus,
  .issue-token:hover > &,
  .issue-token:focus > & {
    background-color: darken($gray-normal, 2%);
    color: $gl-text-color-secondary;
  }
}

.issue-token-title-link {
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}

.issue-token-remove-button {
  background-color: transparent;
  border: 0;
  color: inherit;
  font-size: 0.9em;
}


.add-issuable-form-input-wrapper {
  height: auto;
  padding-top: $gl-vert-padding;
  padding-left: $gl-input-padding;
  padding-bottom: 0;
  padding-right: $gl-input-padding;
}

.add-issuable-form-input-token-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.add-issuable-form-input-token-list-item {
  margin-bottom: $gl-vert-padding;
  margin-right: 1em;
}

.add-issuable-form-input-token-list-input-item {
  flex: 1;
  min-width: 200px;
  margin-bottom: $gl-vert-padding;
}

.add-issuable-form-input {
  width: 100%;
  border: 0;

  &:focus {
    outline: none;
  }
}


.related-issues-block {
  margin-top: $gl-vert-padding;
}

.related-issues-header-help-icon {
  margin-left: 0.25em;
  color: $gl-text-color-secondary;
}

.related-issues-header-issue-count {
  margin-left: 0.5em;
}

.related-issues-add-related-issues-form {
  border-bottom: 1px solid $border-color;
}

.related-issues-token-body {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.related-issues-token-list-item {
  margin-bottom: 0.5em;
  margin-right: 1em;
}
