- page_title _("Merge request analytics")

#js-merge-request-analytics-app{ data: { type: 'project', full_path: @project.full_path, milestone_path: project_milestones_path(@project), labels_path: project_labels_path(@project, include_ancestor_groups: true) } }
