= feature_entry(_('Elasticsearch'),
  href: admin_application_settings_path(anchor: 'js-elasticsearch-settings'),
  doc_href: help_page_path('integration/elasticsearch'),
  enabled: Gitlab::CurrentSettings.elasticsearch_search?)

= feature_entry(_('Geo'),
  href: admin_geo_nodes_path,
  doc_href: help_page_path('administration/geo/replication/index'),
  enabled: Gitlab::Geo.enabled?)
