= feature_entry(_('Elasticsearch'), href: admin_application_settings_path(anchor: 'js-elasticsearch-settings'), enabled: Gitlab::CurrentSettings.elasticsearch_search?)
= feature_entry(_('Geo'), href: admin_geo_nodes_path, enabled: Gitlab::Geo.enabled?)
