= feature_entry(_('Advanced Search'),
  href: advanced_search_admin_application_settings_path(anchor: 'js-elasticsearch-settings'),
  doc_href: help_page_path('integration/elasticsearch'),
  enabled: Gitlab::CurrentSettings.elasticsearch_search?)

= feature_entry(_('Geo'),
  href: admin_geo_nodes_path,
  doc_href: help_page_path('administration/geo/index.md'),
  enabled: Gitlab::Geo.enabled?)
