- if License.current&.exclude_guests_from_active_count?
  %span.has-tooltip{ data: { container: 'body' }, title: s_('AdminArea|Included Free in license') }
    = sprite_icon('question-o', size: 16, css_class: 'gl-text-blue-600')
