- pipeline = local_assigns.fetch(:pipeline)
- project = local_assigns.fetch(:project)

- if pipeline.expose_security_dashboard?
  %li.js-security-tab-link
    = link_to security_project_pipeline_path(project, pipeline), data: { target: '#js-tab-security', action: 'security', toggle: 'tab', qa_selector: 'security_tab' }, class: 'security-tab' do
      = _("Security")

- if pipeline.expose_license_scanning_data?
  %li.js-licenses-tab-link
    = link_to licenses_project_pipeline_path(project, pipeline), data: { target: '#js-tab-licenses', action: 'licenses', toggle: 'tab', qa_selector: 'licenses_tab' }, class: 'licenses-tab' do
      = _("Licenses")
      %span.badge.badge-pill.js-licenses-counter.hidden{ data: { qa_selector: 'licenses_counter' } }
