- page_title _('Edit Geo Node')

- if Feature.enabled?(:enable_geo_node_form_js)
  #js-geo-node-form{ data: { "selective-sync-types" => selective_sync_types_json,
    "sync-shards-options" => repository_storages_options_json,
    "node-data" => @serialized_node } }
- else
  %h3.page-title
    Edit Geo Node

  = form_for [:admin, @node], html: { class: 'js-geo-node-form' } do |f|
    = render partial: 'form', locals: { form: f, geo_node: @node }
    .form-actions
      = f.submit 'Save changes', class: 'btn btn-success'
      = link_to 'Cancel', admin_geo_nodes_path, class: 'btn btn-cancel'

    %hr
