- page_title _('Edit Geo Node')

#js-geo-node-form{ data: { "selective-sync-types" => selective_sync_types_json,
  "sync-shards-options" => repository_storages_options_json,
  "node-data" => node_json(@node) } }
