- add_to_breadcrumbs _('Geo Nodes'), admin_geo_nodes_path
- page_title @form_title

#js-geo-node-form{ data: { "selective-sync-types" => selective_sync_types_json,
  "sync-shards-options" => repository_storages_options_json,
  "node-data" => @serialized_node } }
