- add_to_breadcrumbs _("Iterations"), project_iterations_path(@project)
- breadcrumb_title params[:id]
- page_title _("Iteration")

.js-iteration{ data: { full_path: @project.full_path,
  can_edit: can?(current_user, :admin_iteration, @project).to_s,
  has_scoped_labels_feature: @project.feature_available?(:scoped_labels).to_s,
  iteration_id: params[:id],
  labels_fetch_path: project_labels_path(@project, format: :json, include_ancestor_groups: true),
  preview_markdown_path: preview_markdown_path(@project),
  svg_path: image_path('illustrations/issues.svg') } }
