- return unless Gitlab.com?

- namespace = local_assigns.fetch(:namespace)
- minutes_quota = namespace.ci_minutes_quota
- return unless minutes_quota.enabled?


- if minutes_quota.namespace_eligible?
  %li
    %span.light= _('Additional minutes:')
    %strong
      = ci_minutes_report(minutes_quota.purchased_minutes_report)
