.row.empty-state.merge-requests
  .col-12
    .svg-content
      = image_tag 'illustrations/merge_requests.svg'
  .col-12
    .text-content
      %h4
        = _("Merge requests are a place to propose changes you've made to a project and discuss those changes with others")
      %p
        = _("Interested parties can even contribute by pushing commits if they want to.")
