- breadcrumb_title _("Compliance Dashboard")
- page_title _("Compliance Dashboard")

#js-compliance-dashboard{ data: { merge_requests: @merge_requests.to_json,
  is_last_page: @last_page.to_json,
  empty_state_svg_path: image_path('illustrations/merge_requests.svg') } }
