- if Feature.enabled?('environments_dashboard')
  = link_to operations_environments_path, class: 'dropdown-item' do
    = _('Environments')
= link_to operations_path, class: 'dropdown-item' do
  = _('Operations')
