- if can?(current_user, :read_operations_dashboard)
  %button#js-dashboards-menu.btn-link{ type: 'button', data: { toggle: 'dropdown' }, 'aria-label': _('Operations Dashboard'), 'aria-haspopup': true, 'aria-expanded': false }
    = sprite_icon('dashboard', size: 18)
  .dropdown-menu{ 'aria-labelledby': "js-dashboards-menu" }
    .dropdown-bold-header
      = _('Dashboards')
    = render_if_exists 'dashboard/operations/nav_link_list'
