- breadcrumb_title _("Vulnerability Report")
- page_title _("Vulnerability Report")

#js-group-vulnerabilities{ data: { is_unavailable: "true",
  empty_state_svg_path: image_path('illustrations/security-dashboard-empty-state.svg'),
  dashboard_documentation: help_page_path('user/application_security/security_dashboard/index') } }
