- return if Gitlab.com?
- return unless group.root?

.form-group.gl-mb-3
  .form-check
    = f.check_box :resource_access_tokens_enabled, checked: group.namespace_settings.resource_access_tokens_enabled?, class: 'form-check-input', data: { qa_selector: 'resource_access_tokens_enabled_checkbox' }
    = f.label :resource_access_tokens_enabled, class: 'form-check-label' do
      %span.gl-display-block= s_('GroupSettings|Project access tokens enabled')
      - project_access_tokens_link = help_page_path('user/project/settings/project_access_tokens')
      - link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: project_access_tokens_link }
      %span.text-muted= s_('GroupSettings|Projects in this group can use %{link_start}project access tokens%{link_end}.').html_safe % { link_start: link_start, link_end: '</a>'.html_safe }
