- toggle_value = params[:sort].presence || sort_value_recently_created
- toggle_text = audit_logs_sort_order_hash[toggle_value]

.top-area.d-flex.justify-content-end
  .nav-controls.prepend-top-8.append-bottom-8
    .btn-group.w-100{ role: "group" }
      .btn-group.w-100.dropdown
        %button.btn.btn-default.dropdown-menu-toggle{ type: 'button', data: { toggle: 'dropdown', display: 'static' } }
          = toggle_text
          = icon('chevron-down')
        %ul.dropdown-menu.dropdown-menu-right.dropdown-menu-selectable
          %li.dropdown-header
            = _("Sort by")
          - audit_logs_sort_order_hash.each do |value, title|
            %li
              = link_to title, filter_audit_path(sort: value), class: ("is-active" if toggle_text == title)
