- if License.feature_available?(:incident_management)
  %section.settings.as-incident-management-alerts.no-animate#js-incident-management-settings{ class: ('expanded' if expanded_by_default?) }
    .settings-header
      %h4
        = _('Incident Management Limits')
      %button.btn.gl-button.btn-default.js-settings-toggle{ type: 'button' }
        = expanded_by_default? ? _('Collapse') : _('Expand')
      %p
        = _('Configure limits on the number of inbound alerts able to be sent to a project.')
    .settings-content
      = render 'network_incident_management'
