- return unless License.feature_available?(:default_branch_protection_restriction_in_groups)

- f = local_assigns.fetch(:form)

.form-group.form-check
  = f.check_box :group_owners_can_manage_default_branch_protection, class: 'form-check-input'
  = f.label :group_owners_can_manage_default_branch_protection, class: 'form-check-label' do
    = _('Allow owners to manage default branch protection per group')
