- return unless ::Gitlab::Geo.license_allows? && Feature.enabled?(:maintenance_mode)

%section.settings.no-animate#js-maintenance-mode-toggle{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('Maintenance mode')
    %button.btn.gl-button.btn-default.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Prevent users from performing write operations on GitLab while performing maintenance.')
  .settings-content
    #js-maintenance-mode-settings{ data: { "maintenance-enabled" => @application_setting.maintenance_mode,
      "banner-message" => @application_setting.maintenance_mode_message } }
