- return unless ::Feature.enabled?(:admin_new_user_signups_cap, default_enabled: true )

.form-group
  = form.label :new_user_signups_cap, s_('AdminArea|User cap'), class: 'label-bold'
  = form.number_field :new_user_signups_cap, class: 'form-control gl-form-input', max: License.current&.restricted_user_count
  .form-text.text-muted
    = s_('AdminArea|Once the instance reaches the user cap, any user who is added or requests access will have to be approved by an admin. Leave the field empty for unlimited.')
