- return unless Gitlab::CurrentSettings.seat_link_available?

%section.settings.as-seat-link.no-animate#js-seat-link-settings{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = _('Seat Link')
    %button.btn.gl-button.btn-default.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Enable or disable Seat Link.')
  .settings-content
    = render 'seat_link_form'
