- return unless ::License.feature_available?(:disable_name_update_for_users)

- form = local_assigns.fetch(:form)

.form-group
  = form.label :updating_name_disabled_for_users, _('User restrictions'), class: 'label-bold'
  .form-check
    = form.check_box :updating_name_disabled_for_users, class: 'form-check-input'
    = form.label :updating_name_disabled_for_users, class: 'form-check-label' do
      = _("Prevent users from changing their profile name")
