- page_title _('Iterations|Iteration cadences')

.js-iteration-cadence-app{ data: { full_path: @project.full_path,
  cadences_list_path: project_iteration_cadences_path(@project),
  has_scoped_labels_feature: @project.licensed_feature_available?(:scoped_labels).to_s,
  labels_fetch_path: project_labels_path(@project, format: :json, include_ancestor_groups: true),
  preview_markdown_path: preview_markdown_path(@project),
  no_issues_svg_path: image_path('illustrations/issues.svg') } }
