- service_ping_enabled = Gitlab::CurrentSettings.usage_ping_enabled

%h2
  = _('DevOps Report')

- if service_ping_enabled && show_callout?('dev_ops_report_intro_callout_dismissed')
  = render_ce 'admin/dev_ops_report/callout'

- if !service_ping_enabled
  #js-devops-service-ping-disabled{ data: { is_admin: current_user&.admin.to_s, empty_state_svg_path: image_path('illustrations/convdev/convdev_no_index.svg'), enable_service_ping_path: metrics_and_profiling_admin_application_settings_path(anchor: 'js-usage-settings'), docs_link: help_page_path('development/usage_ping/index.md') } }
- else
  .js-devops-adoption{ data: { empty_state_svg_path: image_path('illustrations/monitoring/getting_started.svg'), devops_score_metrics: devops_score_metrics(@metric).to_json, devops_report_docs_path: help_page_path('user/admin_area/analytics/dev_ops_report'), no_data_image_path: image_path('dev_ops_report_no_data.svg') } }
