%h2
  = _('DevOps Report')
%ul.nav-links.nav-tabs.nav.js-devops-tabs{ role: 'tablist' }
  = render 'tab', active: params[:tab] != 'devops-adoption', title: s_('DevopsReport|DevOps Score'), target: '#devops-score'
  = render 'tab', active: params[:tab] == 'devops-adoption', title: s_('DevopsReport|Adoption'), target: '#devops-adoption'

.tab-content
  .tab-pane{ id: 'devops-score', class: ('active' if params[:tab] != 'devops-adoption') }
    = render_ce 'admin/dev_ops_report/report'
  .tab-pane{ id: 'devops-adoption', class: ('active' if params[:tab] == 'devops-adoption') }
    .js-devops-adoption{ data: { empty_state_svg_path: image_path('illustrations/monitoring/getting_started.svg') } }
