%li
  = form.check_box :subgroup_events, class: 'form-check-input'
  = form.label :subgroup_events, class: 'list-label form-check-label gl-ml-1' do
    %strong= s_('Webhooks|Subgroup events')
  %p.text-muted.gl-ml-1
    = s_('Webhooks|URL is triggered when a subgroup is created or removed')
