%fieldset
  %legend= _('Admin notes')
  .form-group.row
    .col-sm-2.text-right
      = f.label :note, _('AdminNote|Note'), class: 'col-form-label'
    .col-sm-10= f.text_area :note, class: 'form-control'
