- expanded = expanded_by_default?

- if show_compliance_frameworks?(@group)
  %section.settings.no-animate#js-compliance-frameworks-settings{ class: ('expanded' if expanded) }
    .settings-header
      %h4
        = s_('GroupSettings|Compliance frameworks')
      %button.btn.gl-button.js-settings-toggle{ type: 'button' }
        = expanded ? _('Collapse') : _('Expand')
      %p
        = s_('GroupSettings|Configure frameworks to apply enforceable rules to projects.')
    .settings-content
      #js-compliance-frameworks-list{ data: compliance_frameworks_list_data(@group) }
