- expanded = expanded_by_default?

- if show_compliance_frameworks?(@group)
  %section.settings.no-animate#js-compliance-frameworks-settings{ class: ('expanded' if expanded) }
    .settings-header
      %h4
        = s_('GroupSettings|Compliance frameworks')
      %button.btn.gl-button.js-settings-toggle{ type: 'button' }
        = expanded ? _('Collapse') : _('Expand')
      %p
        = s_('GroupSettings|Configure frameworks to apply enforceable rules to projects.')
        - if @group.subgroup?
          = html_escape(s_("GroupSettings|Customizable by owners of %{group}.")) % { group: link_to(@group.root_ancestor.name, group_group_members_path(@group, sort: :access_level_asc).html_safe) }
    .settings-content
      #js-compliance-frameworks-list{ data: compliance_frameworks_list_data(@group) }
