- return unless can?(current_user, :admin_group, group) && License.feature_available?(:member_lock)

%h5= _('Member lock')
.form-group
  .gl-form-checkbox.custom-control.custom-checkbox
    = f.check_box :membership_lock, class: 'custom-control-input', data: { qa_selector: 'membership_lock_checkbox' }
    = f.label :membership_lock, class: 'custom-control-label' do
      = _('Prevent adding new members to project membership within this group')
