- return unless personal_access_token_expiration_policy_licensed?
- return unless group.enforced_group_managed_accounts?

.form-group
  = f.label :max_personal_access_token_lifetime, _('Maximum allowable lifetime for personal access token (days)'), class: 'label-light'
  = f.number_field :max_personal_access_token_lifetime, class: 'form-control form-control-sm w-auto'
  %span.form-text.text-muted#max_personal_access_token_lifetime= _('Leave blank for enforcing the limit set by the instance admin. Once set, existing personal access tokens for users in this group may be revoked.')
