- return unless show_token_expiry_notification?
- message = token_expiry_banner_message(current_user)
- return unless message

- link = link_to _('Generate new token'), profile_personal_access_tokens_path

.gl-alert.gl-alert-danger.js-token-expiry-callout{ role: 'alert', data: { feature_id: "personal_access_token_expiry", dismiss_endpoint: user_callouts_path, defer_links: "true" } }
  %button.js-close.gl-alert-dismiss.gl-cursor-pointer{ type: 'button', 'aria-label' => _('Dismiss') }
    = sprite_icon('close', size: 16, css_class: 'gl-icon')
  .gl-alert-body
    = sprite_icon('warning', size: 16, css_class: 'vertical-align-text-top')
    = message.html_safe % { generate_new: link }
