- if show_upgrade_link?(current_user)
  %li
    = link_to EE::SUBSCRIPTIONS_PLANS_URL,
      class: 'upgrade-plan-link js-upgrade-plan-link',
      data: { 'track-event': 'click_upgrade_link', 'track-label': current_user.namespace.actual_plan_name, 'track-property': 'user_dropdown' } do
      = s_("CurrentUser|Upgrade")
      = emoji_icon('rocket', 'aria-hidden': true)
