- current_plan = subscription_plan_info(plans_data, namespace.actual_plan_name)
- support_link = link_to s_("BillingPlans|Contact Support"), "https://support.gitlab.com"

- if current_plan
  = render 'shared/billings/billing_plan_header', namespace: namespace, plan: current_plan

- if namespace.upgradable?
  .gl-p-4.center
    = link_to s_("BillingPlan|Upgrade plan"), plan_upgrade_url(namespace, current_plan), class: "btn btn-success"

- else
  .billing-plans
    - plans_data.each do |plan|
      = render 'shared/billings/billing_plan', namespace: namespace, plan: plan

- if namespace.actual_plan
  .center
    = s_("BillingPlans|If you would like to downgrade your plan please %{support_link}.").html_safe % { support_link: support_link }
