- page_title _("Billing")

.gl-alert.gl-alert-danger.gl-mb-5
  = sprite_icon('error', size: 16, css_class: 'gl-icon gl-alert-icon')
  .gl-alert-content
    .gl-alert-title
      = _('Subscription service outage')
    .gl-alert-body
      = html_escape(_("The GitLab subscription service (customers.gitlab.com) is currently experiencing an outage. You can monitor the status and get updates at %{linkStart}status.gitlab.com%{linkEnd}.")) % { linkStart: "<a href=\"#{::EE::GITLAB_COM_STATUS_URL}\">".html_safe, linkEnd: '</a>'.html_safe }
