- add_to_breadcrumbs _("Security Configuration"), project_security_configuration_path(@project)
- breadcrumb_title _("SAST Configuration")
- page_title _("SAST Configuration")

.js-sast-configuration
