- page_title _("New Branch")

- if @error
  .gl-alert.gl-alert-danger
    = sprite_icon('error', size: 16, css_class: 'gl-icon gl-alert-icon gl-alert-icon-no-title')
    %button.js-close.gl-alert-dismiss{ type: 'button', 'aria-label' => _('Dismiss') }
      = sprite_icon('close', size: 16, css_class: 'gl-icon')
    .gl-alert-body
      = @error
%h3.page-title
  = _('New Branch')
%hr

.js-jira-connect-create-branch{ data: { form_endpoint: jira_connect_branches_path } }