- form = local_assigns.fetch(:form)

- return unless issuable.is_a?(MergeRequest)
- return unless issuable.approval_feature_available?

- if !Feature.enabled?(:mr_collapsed_approval_rules, @project)
  .form-group.row
    .col-sm-2.col-form-label.gl-static
      .gl-display-flex.gl-align-items-center.gl-sm-justify-content-end
        - root_group = @project.group&.root_ancestor
        - run_highlight_paid_features_during_active_trial_experiment(root_group) do
          - feature_name = _('merge request approvals')
          .gl-xs-ml-3.gl-sm-mr-3.gl-mb-2.gl-order-1.gl-sm-order-init
            #js-paid-feature-badge{ data: paid_feature_badge_data_attrs(feature_name) }
          #js-paid-feature-popover{ data: paid_feature_popover_data_attrs(group: root_group, feature_name: feature_name).merge(promo_image_path: image_path('illustrations/golden_tanuki.svg'), promo_image_alt_text: s_('ImageAltText|Sparkling golden tanuki logo')) }
        = form.label :approver_ids, "Approval rules"
    .col-sm-10
      = render_if_exists 'shared/issuable/approver_suggestion', issuable: issuable, presenter: presenter
