- if @project.group.beta_feature_available?(:iterations) && issuable_type == "issue"
  .js-iteration-select{ data: { can_edit: can_edit, group_path: group_path, project_path: project_path, issue_iid: issue_iid } }
