- if issuable_sidebar[:supports_epic]
  - if issuable_sidebar[:features_available][:epics]
    - if cookies[:epics_select_dropdown] == 'true'
      #js-vue-sidebar-item-epics-select{ data: { can_edit: can_admin_issue?.to_s, group_id: @project.group.id, issue_id: @issuable.id, epic_issue_id: @issuable.epic_issue&.id } }
    - else
      .block.epic
        #js-vue-sidebar-item-epic
          .title.hide-collapsed
            Epic
            = icon('spinner spin')

  - else
    = render 'shared/promotions/promote_epics'
