- if current_board_parent.feature_available?(:wip_limits)
  %gl-button.no-drag.rounded-right{ type: "button",
    "@click" => "openSidebarSettings",
    "v-if" => "isSettingsShown",
    "aria-label" => _("List settings"),
    "ref" => "settingsBtn",
    "title" => _("List settings") }
    = sprite_icon("settings")
  %gl-tooltip{ ":target" => "() => $refs.settingsBtn" }
    = _("List settings")
