- project = local_assigns.fetch(:project)

- if show_compliance_framework_badge?(project)
  - framework = project.compliance_framework_setting.framework
  - color = compliance_framework_color(framework)
  - title = compliance_framework_title(framework)
  - description = compliance_framework_description(framework)

  %span.badge.compliance-framework-pill.ml-2.has-tooltip{ class: color, data: { container: 'body' }, title: description }
    = title
