.badge.compliance-framework-pill {
  border-radius: $label-border-radius;
  color: $gray-light;
  display: inline-block;
  font-size: $gl-font-size-sm;
  font-weight: $gl-font-weight-normal;
  line-height: $gl-line-height-20;
  padding: 0 $label-padding;
  vertical-align: middle;
}
