- return unless @project.feature_available?(:adjourned_deletion_for_projects_and_groups)

%p
  %span.gl-text-gray-500= _('Projects will be permanently deleted after a %{waiting_period}-day waiting period.').html_safe % { waiting_period: ::Gitlab::CurrentSettings.deletion_adjourned_period }
  = link_to(_('Customizable by an administrator.'), help_page_path('user/admin_area/settings/visibility_and_access_controls', anchor: 'default-deletion-delay'))
%p= marked_for_removal_message(@project)
