- path = local_assigns.fetch(:path)

.block
  .title
    = _('Iteration')
  .filter-item
    #js-iteration-dropdown{ data: { full_path: path } }
  %input{ id: 'issue_iteration_id', type: 'hidden', name: 'update[iteration_id]' }
