- show_label_epics_link = defined?(@group) && @group&.feature_available?(:epics)

- if show_label_epics_link
  &middot;
  %li.inline
    = link_to 'Epics', group_epics_path(@group, label_name: [label.name]), class: 'gl-text-blue-600!'
