- return unless user_onboarding_enabled?

%li.d-none.d-lg-block
  %a{ href: explore_onboarding_index_path(from_help_menu: true) }
    = _("Learn GitLab")
    %span.badge.badge-success= s_("Badge|New")
