- project = local_assigns.fetch(:project, nil)
- namespace = local_assigns.fetch(:namespace, project && project.shared_runners_limit_namespace)
- scope = (project || namespace).full_path
- has_limit = (project || namespace).shared_runners_minutes_limit_enabled?
- can_see_status = project.nil? || can?(current_user, :create_pipeline, project)
- ci_warning_message = ci_usage_warning_message(namespace, project)

- if cookies[:hide_shared_runner_quota_message].blank? && has_limit && can_see_status && ci_warning_message.present?
  .bs-callout.shared-runner-quota-message.d-none.d-sm-block{ class: ci_usage_warning_class(namespace), data: { scope: scope } }
    %button.close.js-close.hide-shared-runner-limit-message{ type: "button" }  &times;
    = ci_warning_message
    %br
    = link_to 'Purchase more minutes', 'https://customers.gitlab.com/subscriptions/new?plan_id=2c92a0086a07f4a8016a2c0a1f7b4b4c', class: 'btn btn-close mt-3'
