.compliance-dashboard {
  .content-list {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }

  .author-link {
    align-items: center;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
