.gl-daterange-picker {
  .gl-datepicker-input {
    width: 140px;

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  label {
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      margin-right: $gl-padding-4;
    }
  }
}

.daterange-indicator {
  @include media-breakpoint-down(md) {
    .number-of-days {
      padding-left: 0.25rem !important;
      margin-top: 0.25rem;
    }

    svg {
      margin-top: 0.45rem;
    }
  }
}
