/* EE Trial Specific Stylesheet */

/* Main Nav Overrides */
.navbar-gitlab.has-trial-banner {
  top: 52px;
}

.page-with-sidebar.has-trial-banner {
  /* Secondary Nav Overrides - Old Nav */
  margin-top: 102px;

  /* Sidebar Nav Overrides - New Nav */
  .nav-sidebar {
    top: 102px;
  }
}

/* Trial Banner */
.gitlab-ee-license-banner.alert {
  @include media-breakpoint-down(md) {
    img {
      width: 30px;
    }

    a {
      margin-left: 0 !important;

      &:last-child {
        margin-top: 1rem;
      }
    }
  }

  .close {
    opacity: 0.6;
  }
}

/* Trial License Install Modal */
.modal-upload-trial-license {
  .svg-container {
    width: 90px;
    height: 90px;
  }

  .trial-license-preview {
    max-height: 300px;
  }

  /* Pure CSS License Key Preview Toggle */
  .trial-license-preview,
  .show-license,
  .hide-license:target {
    display: none;
  }

  .hide-license,
  .hide-license:target + .show-license,
  .hide-license:target ~ .trial-license-preview {
    display: block;
  }

  .show-license,
  .hide-license {
    &:hover {
      text-decoration: none;
      color: $gray-900;
    }
  }
}
