@media (max-width: $breakpoint-sm) {
  .geo-node-actions {
    margin: 0 1rem;

    > * {
      width: 100%;
    }
  }
}

.project-card-errors {
  .btn-card-header {
    &.collapsed {
      .card-collapse-icon {
        display: none;
      }

      .card-expand-icon {
        display: block;
      }
    }
  }
}

// Overrides for the generalized `shared/projects/search_form` used in Geo
.replicable-search {
  #project-filter-form-field {
    width: 100%;
    padding-left: 1.75rem;
  }
}
