.approvals-body {
  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
  }

  .approve-btn {
    vertical-align: baseline;
  }

  .approvals-required-text {
    svg {
      position: relative;
      top: 3px;
    }
  }
}

.approvals-footer {
  display: flex;

  .approvers-prefix {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .approvers-list {
    display: flex;
    align-items: center;
    margin-left: 7px;
  }

  .avatar-placeholder {
    color: $gray-darkest;
  }

  .unapprove-btn {
    border: 0;
    background: transparent;
    cursor: pointer;

    &:hover {
      color: $gl-text-color-secondary;
      text-decoration: none;
    }

    &:focus {
      outline: none;
    }
  }
}

