.odds-md-pad-right:nth-child(odd) {
  padding: 0;

  @include media-breakpoint-up(md) {
    padding-right: $gl-padding-8;
  }
}

.evens-md-pad-left:nth-child(even) {
  padding: 0;

  @include media-breakpoint-up(md) {
    padding-left: $gl-padding-8;
  }
}

.operations-dashboard {
  .branch-commit {
    * {
      vertical-align: middle;
    }

    .icon-container,
    .commit-icon {
      display: inline;
      color: $gl-text-color-tertiary;
    }

    .ref-name {
      font-weight: $gl-font-weight-bold;
      color: $gl-text-color;
    }
  }
}

.tokenized-input-wrapper {
  height: auto;
  padding: 2px $gl-padding-8;

  &.focus,
  &.focus:hover {
    border-color: $blue-300;
    box-shadow: 0 0 4px $dropdown-input-focus-shadow;
  }

  .tokenized-input {
    width: auto;
    border: 0;
    margin: $gl-bar-padding 0;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .input-token {
    word-break: break-all;
    background-color: $gray-lighter;
    margin: $gl-bar-padding 0;
  }

  .tokenized-input-token-remove {
    background-color: $gray-normal;
    margin: $gl-bar-padding $gl-padding-4 $gl-bar-padding 0;
  }
}
