- return unless show_trial_banner?(namespace)
.user-callout
  %section.gl-banner.gl-banner-introduction.my-2
    .gl-banner-illustration
      = custom_icon('trial_activated_banner')
    .gl-banner-content.gl-display-flex.gl-flex-direction-column.gl-justify-content-center
      %h4.gl-banner-title{ data: { qa_selector: 'alert_message' } }
        = s_("BillingPlans|Congratulations, your free trial is activated.")
    %button.gl-banner-close.close{ "aria-label" => _('Dismiss'), :type => "button" }
      = sprite_icon('close', size: 16, css_class: 'gl-icon')
