- if show_trial_errors?(@namespace, @result)
  .flash-container.trial-errors
    .flash-alert.text-center
      = _('We have found the following errors:')
      .flash-text
        = trial_errors(@namespace, @result)
