- is_configure_active = !params[:tab] || params[:tab] == 'configure'
- is_project_type = @cluster.cluster_type.in? 'project_type'
- is_creating = @cluster.status_name.in? %i/scheduled creating/

- if !is_project_type && !is_creating
  .js-toggle-container
    %ul.nav-links.mobile-separator.nav.nav-tabs{ role: 'tablist' }
      %li.nav-item{ role: 'presentation' }
        %a.nav-link{ class: active_when(is_configure_active), href: clusterable.cluster_path(@cluster.id, params: {tab: 'configure'}), id: 'cluster-configure-tab' }
          %span= _('Configuration')
      %li.nav-item{ role: 'presentation' }
        %a.nav-link{ class: active_when(!is_configure_active), href: clusterable.cluster_path(@cluster.id, params: {tab: 'environments'}), id: 'cluster-environments-tab' }
          %span.js-cluster-nav-environments= _('Environments')

    .tab-content
      - if is_configure_active
        .tab-pane.active{ id: 'cluster-configure-pane', role: 'tabpanel' }
          = render 'configure', expanded: expanded
      - else
        .tab-pane.active{ id: 'cluster-environments-pane', role: 'tabpanel' }
          #js-cluster-environments

- else
  = render 'configure', expanded: expanded
