$trans-white: rgba(255, 255, 255, 0);

.vulnerabilities-chart-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
}

@media screen and (max-width: 1240px) {
  .vulnerabilities-chart {
    position: relative;
  }

  .vulnerabilities-chart::after {
    background-image: linear-gradient(to right, $trans-white, $gl-gray-350);
    bottom: 0;
    content: '';
    height: 310px;
    position: absolute;
    right: -1px;
    top: 10px;
    width: 32px;
  }
}
