@import 'mixins_and_variables_and_functions';

.new-protected-branch,
.new-protected-tag {
  label {
    margin-top: 6px;
    font-weight: $gl-font-weight-normal;
  }
}

.project-mirror-settings {
  .btn-show-advanced {
    min-width: 135px;

    .label-show {
      display: none;
    }

    .label-hide {
      display: inline;
    }

    &.show-advanced {
      .label-show {
        display: inline;
      }

      .label-hide {
        display: none;
      }
    }
  }
}
