@import 'mixins_and_variables_and_functions';

.runner-state {
  padding: 6px 12px;
  margin-right: 10px;
  color: var(--white, $white);

  &.runner-state-shared {
    background: var(--white, $green-400);
  }

  &.runner-state-specific {
    background: var(--blue-400, $blue-400);
  }
}

.runner-status-online {
  color: var(--green-600, $green-600);
}

.runner-status-offline {
  color: var(--gray-200, $gray-200);
}

.runner-status-paused {
  color: var(--red-500, $red-500);
}

.runner {
  .btn {
    padding: 1px 6px;
  }

  h4 {
    font-weight: $gl-font-weight-normal;
  }
}

@include media-breakpoint-down(md) {
  .runners-content {
    width: 100%;
    overflow: auto;
  }
}
