- return unless License.feature_available?(:elastic_search)

= nav_link(path: 'application_settings#advanced_search') do
  = link_to advanced_search_admin_application_settings_path, title: _('Advanced Search'), class: 'qa-admin-settings-advanced-search' do
    %span
      = _('Advanced Search')
