-# Only top-level groups can have trials & plans
- root_group = group.root_ancestor
- return unless show_trial_status_widget?(root_group)

-# For the current Growth::Conversion experiment
- record_experiment_group(:show_trial_status_in_sidebar, root_group)
- return unless experiment_enabled?(:show_trial_status_in_sidebar, subject: root_group)

= nav_link do
  #js-trial-status-widget{ data: trial_status_widget_data_attrs(root_group) }
  #js-trial-status-popover{ data: trial_status_popover_data_attrs(root_group) }
