-# Return early if this app instance does not have namespace plans enabled
- return unless billing_plans_and_trials_available?
-# Only top-level groups can have trials & plans
- root_group = group.root_ancestor
-# Return without rendering if the top-level group & current user are not
-# eligible to see the trial status widget
- return unless eligible_for_trial_status_widget?(root_group)

-# Growth::Conversion experiment-related stuff...
- experiment_key = :show_trial_status_in_sidebar
-# * Record the top-level group as a Growth::Conversion experiment participant
- record_experiment_group(experiment_key, root_group)
-# * But return without rendering if the group is not receiving the candidate
-#   variant experience
- return unless experiment_enabled?(experiment_key, subject: root_group)

= nav_link do
  #js-trial-status-widget{ data: { container_id: 'trial-status-sidebar-widget',
    days_remaining: root_group.trial_days_remaining,
    nav_icon_image_path: image_path('illustrations/golden_tanuki.svg'),
    percentage_complete: root_group.trial_percentage_complete,
    plan_name: plan_title_for_group(root_group),
    plans_href: group_billings_path(root_group) } }

  #js-trial-status-popover{ data: { container_id: 'trial-status-sidebar-widget',
    group_name: root_group.name,
    plan_name: plan_title_for_group(root_group),
    plans_href: group_billings_path(root_group),
    purchase_href: new_subscriptions_path(namespace_id: group.id, plan_id: '2c92a0fc5a83f01d015aa6db83c45aac'),
    target_id: 'trial-status-sidebar-widget',
    trial_end_date: root_group.trial_ends_on } }
