- root_group = group.root_ancestor
- return unless show_trial_status_widget?(root_group)

= nav_link do
  #js-trial-status-widget{ data: { href: group_billings_path(root_group),
    nav_icon_image_path: image_path('illustrations/golden_tanuki.svg'),
    title: trial_days_remaining_in_words(root_group),
    percentage_complete: root_group.trial_percentage_complete } }
