%h5.prepend-top-20 Dependency proxy URL

%div
  = text_field_tag :url, "#{group_url(@group)}/dependency_proxy/containers", class: 'js-dependency-proxy-url form-control', readonly: true

.help-block.prepend-top-5
  Contains #{@blobs_count} blobs of images (#{number_to_human_size(@blobs_total_size)})
