- geo_troubleshooting_link = help_page_path('administration/geo/replication/troubleshooting.md')

.row.empty-state
  .col-12
    .svg-content.svg-250
      = image_tag 'illustrations/empty-state/geo-replication-empty.svg'
  .col-12
    .text-content
      %h4.text-center= sprintf(s_('Geo|There are no %{replicable_type} to show'), { replicable_type: replicable_type })
      %p
        = sprintf(s_('Adjust your filters/search criteria above. If you believe this may be an error, please refer to the %{linkStart}Geo Troubleshooting%{linkEnd} documentation for more information.') , { linkStart: "<a href=\"#{geo_troubleshooting_link}\" target=\"_blank\">", linkEnd: "</a>", }).html_safe
