.row.empty-state
  .col-12
    .svg-content
      = image_tag 'illustrations/gitlab_geo.svg'
  .col-12
    .text-content
      %h4.text-center= _('Discover GitLab Geo')
      %p
        = _('Make everyone on your team more productive regardless of their location. GitLab Geo creates read-only mirrors of your GitLab instance so you can reduce the time it takes to clone and fetch large repos.')
        = link_to _('More information'), 'https://about.gitlab.com/features/gitlab-geo/', rel: 'nofollow'
