- if @project.feature_available?(:code_owner_approval_required)
  %th
    = s_("ProtectedBranch|Code owner approval")
    %span.sr-only
      = "(" << s_("ProtectedBranch|Does not apply to users allowed to push. Optional sections are not enforced.") << ")"
    %span.has-tooltip{ data: { container: 'body' }, title: s_('ProtectedBranch|Does not apply to users allowed to push. Optional sections are not enforced.'), 'aria-hidden': 'true' }
      = sprite_icon('question', size: 16, css_class: 'gl-text-gray-500')
