- if @project.feature_available?(:code_owner_approval_required)
  %td
    %button{ type: 'button',
      class: "js-code-owner-toggle project-feature-toggle mr-5 #{'is-checked' if protected_branch.code_owner_approval_required}",
      "aria-label": s_("ProtectedBranch|Toggle code owner approval") }
      %span.toggle-icon
        = sprite_icon('status_success_borderless', size: 16, css_class: 'toggle-icon-svg toggle-status-checked')
        = sprite_icon('status_failed_borderless', size: 16, css_class: 'toggle-icon-svg toggle-status-unchecked')
