- if @project.feature_available?(:code_owner_approval_required)
  .form-group.row
    %label.col-md-2.text-right{ for: 'code_owner_approval_required' }
      = s_("ProtectedBranch|Require approval from code owners:")
    .col-md-10
      = render "shared/buttons/project_feature_toggle", label: s_("ProtectedBranch|Toggle code owner approval"), class_list: "js-code-owner-toggle project-feature-toggle is-checked"
      .form-text.text-muted
        = s_("ProtectedBranch|Pushes that change filenames matched by the CODEOWNERS file will be rejected")
