- add_to_breadcrumbs _("Security Configuration"), project_security_configuration_path(@project)
- breadcrumb_title _("API Fuzzing Configuration")
- page_title _("API Fuzzing Configuration")

.js-api-fuzzing-configuration{ data: api_fuzzing_configuration_data(@project) }
