- add_to_breadcrumbs _("Security Configuration"), project_security_configuration_path(@project)
- breadcrumb_title _("API Fuzzing Configuration")
- page_title _("API Fuzzing Configuration")

%h1= "API fuzzing configuration"
