- if search_service.show_elasticsearch_tabs?
  = search_filter_link 'notes', _("Comments")
  = search_filter_link 'blobs', _("Code"), data: { qa_selector: 'code_tab' }
  = search_filter_link 'commits', _("Commits")
  = search_filter_link 'wiki_blobs', _("Wiki")
