.form-group
  = form.label :approver_ids, class: 'label-bold' do
    = _("Approvers")
  #js-mr-approvals-settings{ data: { 'project_id': @project.id,
    'project_path': api_v4_projects_path(id: @project.id),
    'settings_path': api_v4_projects_approval_settings_path(id: @project.id),
    'rules_path': api_v4_projects_approval_settings_rules_path(id: @project.id),
    'allow_multi_rule': @project.multiple_approval_rules_available?.to_s } }
    .text-center.prepend-top-default
      = sprite_icon('spinner', size: 24, css_class: 'gl-spinner')
