.audit-controls {
  // TODO: Remove this once https://gitlab.com/gitlab-org/gitlab-ui/-/issues/681 is resolved
  .gl-datepicker-theme.pika-single {
    position: absolute !important;
  }

  .gl-form-input {
    background-color: $white;
  }

  @include media-breakpoint-down(md) {
    .dropdown-menu-toggle,
    .filter-item {
      width: 100%;
    }
  }
}
