.audit-controls {
  .gl-dropdown-toggle {
    border-color: $gray-100;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0 0.0625rem $gray-200;
    padding: 0.5rem 0.75rem;
  }

  .gl-daterange-picker > div {
    @include media-breakpoint-up(lg) {
      align-items: baseline;
    }
  }
}
