---
data_category: Optional
key_path: compliance_unique_visits.compliance_unique_visits_for_any_target_monthly
description: ''
product_section: 'dev'
product_stage: 'manage'
product_group: 'group::compliance'
product_category: 'compliance_management'
value_type: number
status: data_available
time_frame: 28d
data_source: database
distribution:
- ee
tier:
- premium
- ultimate
