- page_title "Iterations"

.js-iterations-list{ data: { group_full_path: @group.full_path, can_admin: can?(current_user, :admin_iteration, @group), new_iteration_path: new_group_iteration_path(@group) } }
