- page_title _("Iterations")

- if Feature.enabled?(:group_iterations, @group)
  .js-iterations-list{ data: { group_full_path: @group.full_path, can_admin: can?(current_user, :create_iteration, @group).to_s, new_iteration_path: new_group_iteration_path(@group) } }
