- add_to_breadcrumbs _("Iterations"), group_iterations_path(@group)
- breadcrumb_title _("New")
- page_title _("Iterations")

%h3.page-title
  = _("New Iteration")

.js-iteration-new{ data: { group_full_path: @group.full_path } }
