- add_to_breadcrumbs _("Iterations"), group_iterations_path(@group)
- breadcrumb_title params[:id]
- page_title _("Iterations")


.js-iteration{ data: { group_full_path: @group.full_path, iteration_id: params[:iteration_id] } }
