- return unless current_user.admin? && License.feature_available?(:max_pages_size)

- form = local_assigns.fetch(:form)

.form-group
  = form.label :max_pages_size, class: 'label-bold' do
    Maximum size of pages (MB)
  = form.number_field :update_max_pages_size, value: form.object.max_pages_size.try(:to_mb), class: 'form-control', min: 0
  %span.form-text.text-muted#repository_size_limit_help_block
    = s_('GitLabPages|The total size of deployed static content will be limited to this size.  0 for unlimited.  Leave empty to inherit the global value.')
