- project = local_assigns.fetch(:project)
- issuable = local_assigns.fetch(:issuable)

- return unless issuable.can_assign_epic?(current_user)
- form = local_assigns.fetch(:form)

.form-group.row.issue-epic
  = form.label :label_ids, class: "col-form-label col-md-2 col-lg-4" do
    = _('Epic')
  .col-md-10.col-lg-8
    .issuable-form-select-holder
      %input{ id: 'issue_epic_id', type: 'hidden', name: 'issue[epic_id]' }
      #js-epic-select-root{ data: { group_id: project.group.id } }
