- @content_class = "limit-container-width" unless fluid_layout
- add_to_breadcrumbs _('Test Cases'), project_quality_test_cases_path(@project)
- breadcrumb_title @issue.to_reference

- page_title           "#{@issue.title} (#{@issue.to_reference})", _('Test Cases')
- page_description     @issue.description

-# haml-lint:disable InlineJavaScript
%script#js-issuable-app-initial-data{ type: "application/json" }= issuable_initial_data(@issue).to_json
