- breadcrumb_title _('Test Cases')
- page_title _('Test Cases')
- @content_class = 'project-test-cases'

#js-test-cases-list{ data: { can_create_test_case: can?(current_user, :create_test_case, @project).to_s,
  initial_state: params[:state],
  page: params[:page],
  prev: params[:prev],
  next: params[:next],
  initial_sort_by: params[:sort],
  project_full_path: @project.full_path,
  project_labels_path: project_labels_path(@project, format: :json),
  test_case_new_path: new_project_quality_test_case_path(@project),
  empty_state_path: image_path('illustrations/empty-state/empty-test-cases-lg.svg') } }
