- page_title _("Audit Events")
- feature_available = @project.feature_available?(:audit_events)

- if feature_available
  %h3.page-title
    = _('Project audit events')
  %p.light
    = _('Track important events in your project.')
    = link_to _('What are project audit events?'), help_page_path('administration/audit_events.md', anchor: 'project-events'), target: '_blank', rel: 'noopener noreferrer'

  #js-project-audit-events-app{ data: { form_path: project_audit_events_path(@project),
  events: @events.to_json,
  is_last_page: @is_last_page.to_json,
  filter_token_options: project_audit_event_tokens(@project.full_path).to_json,
  show_filter: show_filter_for_project?(@project).to_json } }

- elsif show_promotions?
  = render 'shared/promotions/promote_audit_events'
