- if @project.feature_available?(:dependency_list)
  = nav_link(path: 'projects/dependencies#show') do
    = link_to project_dependencies_path(@project), title: _('Dependency List'), class: 'shortcuts-project-dependencies' do
      %span= _('Dependency List')
