- return unless project_nav_tab? :escalation_policy

= nav_link(controller: :escalation_policies) do
  = link_to project_incident_management_escalation_policies_path(@project), title: _('Escalation policies') do
    %span
      = _('Escalation Policies')
