- return unless project_nav_tab? :oncall_schedule

= nav_link(controller: :oncall_schedules) do
  = link_to project_incident_management_oncall_schedules_path(@project), title: _('On-call Schedules') do
    %span
      = _('On-call Schedules')
