- return unless @project.feature_available?(:tracing)

= nav_link(controller: [:operations]) do
  = link_to project_settings_operations_path(@project), title: _('Operations') do
    = _('Operations')
