- return if project.marked_for_deletion?
- return unless (ancestor_marked_for_deletion = project.ancestor_marked_for_deletion)

.text-warning.center.prepend-top-20
  %p
    = sprite_icon('warning-solid', size: 12)
    = _("This project will be deleted on %{date} since its parent group '%{parent_group_name}' has been scheduled for deletion.") % { date: permanent_deletion_date(ancestor_marked_for_deletion.marked_for_deletion_on), parent_group_name: ancestor_marked_for_deletion.name }
