#repeat-trial-info.bs-callout.bs-callout-info.gl-alert.fade.in.show{ role: "alert" }
  %button.js-close.gl-alert-dismiss{ type: 'button', 'aria-label' => _('Dismiss') }
    = sprite_icon('close', size: 16, css_class: 'gl-icon')
  %h4
    = _('Free Trial')
  %p
    = _('Thank you for signing up for your free trial! You will get additional instructions in your inbox shortly.')
