#repeat-trial-info.bs-callout.bs-callout-info.alert.alert-dismissible.fade.in.show{ role: "alert" }
  %button.close{ type: "button", 'data-dismiss': "alert", 'aria-label': "Close" }
    %span
      = sprite_icon('close')
  %h4
    = _('Free Trial')
  %p
    = _('Thank you for signing up for your free trial! You will get additional instructions in your inbox shortly.')
