%p
  This is an automated notification to let you know that your CI Runner Minutes quota for "#{@namespace_name}" is below #{@percentage_of_available_mins}%.
%p
  Click #{link_to('here', EE::SUBSCRIPTIONS_PLANS_URL)} to purchase more minutes.
%p
  If you need assistance, please contact #{link_to('GitLab support', 'https://support.gitlab.com')}.
