.js-iteration-cadence-app{ data: { group_full_path: @group.full_path,
  cadences_list_path: group_iteration_cadences_path(@group),
  can_create_cadence: can?(current_user, :create_iteration_cadence, @group).to_s,
  can_edit_cadence: can?(current_user, :admin_iteration_cadence, @group).to_s } }
