- page_title s_('Iterations|Iteration cadences')

.js-iteration-cadence-app{ data: { full_path: @group.full_path,
  cadences_list_path: group_iteration_cadences_path(@group),
  can_create_cadence: can?(current_user, :create_iteration_cadence, @group).to_s,
  can_edit_cadence: can?(current_user, :admin_iteration_cadence, @group).to_s,
  can_create_iteration: can?(current_user, :create_iteration, @group).to_s,
  can_edit_iteration: can?(current_user, :admin_iteration, @group).to_s,
  has_scoped_labels_feature: @group.licensed_feature_available?(:scoped_labels).to_s,
  labels_fetch_path: group_labels_path(@group, format: :json, include_ancestor_groups: true),
  preview_markdown_path: preview_markdown_path(@group),
  no_issues_svg_path: image_path('illustrations/issues.svg') } }
