= render 'shared/runners/runner_description'

.row
  .col-sm-6
    = render 'projects/settings/runners/specific_runners'
  .col-sm-6
    = render 'projects/settings/runners/shared_runners'
    = render 'projects/settings/runners/group_runners'
