- page_title _('Geo Designs')

#js-geo-replicable{ data: { "geo-replicable-empty-svg-path" => image_path('illustrations/empty-state/geo-replication-empty.svg'),
  "geo-troubleshooting-link" => help_page_path('administration/geo/replication/troubleshooting.html'),
  "replicable-type" => 'designs' } }
