- page_title _('Geo Designs')

#js-geo-designs{ data: { "geo-svg-path" => image_path('illustrations/gitlab_geo.svg'),
  "issues-svg-path" => image_path('illustrations/issues.svg'),
  "geo-troubleshooting-link" => help_page_path('administration/geo/replication/troubleshooting.html'),
  "design-management-link" => help_page_path('user/project/issues/design_management.html') } }
