- page_title _('Geo Designs')

#js-geo-replicable{ data: { "replicable-type" => 'designs',
  "geo-svg-path" => image_path('illustrations/gitlab_geo.svg'),
  "issues-svg-path" => image_path('illustrations/issues.svg'),
  "geo-troubleshooting-link" => help_page_path('administration/geo/replication/troubleshooting.html') } }
