- project_duration = age_map_duration(@blame_groups, @project)
- page_title "Blame", @blob.path, @ref
- sprite_icon = sprite_icon('doc-versions', size: 16, css_class: 'doc-versions align-text-bottom')
- link_icon = icon("link")
- author_avatars = {}
- age_map_classes = {}

#blob-content-holder.tree-holder
  = render "projects/blob/breadcrumb", blob: @blob, blame: true

  .file-holder
    = render "projects/blob/header", blob: @blob, blame: true
    .file-blame-legend
      = render 'age_map_legend'
    .table-responsive.file-content.blame.code.js-syntax-highlight
      %table
        - current_line = 1
        - @blame_groups.each do |blame_group|
          - commit = blame_group[:commit]
          - author_avatars[commit.id] ||= author_avatar(commit, size: 36, has_tooltip: false)
          - age_map_classes[commit.id] ||= age_map_class(commit.committed_date, project_duration)

          = render 'blame_group',
            blame_group: blame_group,
            current_line: current_line,
            sprite_icon: sprite_icon,
            link_icon: link_icon,
            author_avatar: author_avatars[commit.id],
            age_map_class: age_map_classes[commit.id]

          - current_line += blame_group[:lines].count
