- page_title "Blame", @blob.path, @ref
- link_icon = icon("link")

#blob-content-holder.tree-holder
  = render "projects/blob/breadcrumb", blob: @blob, blame: true

  .file-holder
    = render "projects/blob/header", blob: @blob, blame: true
    .file-blame-legend
      = render 'age_map_legend'
    .table-responsive.file-content.blame.code.js-syntax-highlight
      %table
        - current_line = 1
        - @blame.groups.each do |blame_group|
          - commit = blame_group[:commit]

          = render 'blame_group',
            blame_group: blame_group,
            current_line: current_line,
            link_icon: link_icon,
            author_avatar: @blame.author_avatar_for_commit(commit.id),
            age_map_class: @blame.age_map_class_for_commit(commit.id),
            commit_link: @blame.commit_link_for_commit(commit.id),
            commit_author_link: @blame.commit_author_link_for_commit(commit.id),
            project_blame_link: @blame.project_blame_link_for_commit(commit.id),
            time_ago_tooltip: @blame.time_ago_tooltip_for_commit(commit.id)

          - current_line += blame_group[:lines].count
