- return unless show_cluster_health_graphs?

%section.settings.no-animate.expanded.cluster-health-graphs.qa-cluster-health-section#cluster-health
  %h4= s_('ClusterIntegration|Cluster health')

  - if @cluster&.application_prometheus_available?
    #prometheus-graphs{ data: cluster_health_data(@cluster).merge({ "alerts-endpoint" => ('/' if Feature.enabled?(:prometheus_computed_alerts)),
    "prometheus-alerts-available" => ('true' if Feature.enabled?(:prometheus_computed_alerts)) }) }

  - else
    %p.settings-message.text-center= s_("ClusterIntegration|In order to view the health of your cluster, you must first install Prometheus below.")
