- if @merge_requests.to_a.any?
  .card.card-small.card-without-border
    %ul.content-list.mr-list.issuable-list
      = render partial: 'merge_request', collection: @merge_requests

  = paginate @merge_requests, theme: "gitlab"

- else
  = render 'empty_state'
