.jira-connect-users-container.gl-text-center
  - user_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: user_path(current_user) }
  %h2= _('You are signed into GitLab as %{user_link_start}%{username}%{user_link_end}.').html_safe % { user_link_start: user_link_start, username: current_user.to_reference, user_link_end: '</a>'.html_safe }

  %p= s_('Integrations|You can now close this window and return to the GitLab for Jira application.')

  - if @jira_app_link
    %p= external_link s_('Integrations|Return to GitLab for Jira'), @jira_app_link, class: 'btn btn-success'

  %p= link_to _('Sign out'), destroy_user_session_path, method: :post

- add_page_specific_style 'page_bundles/jira_connect_users'
