- return unless group.feature_available?(:project_creation_level)
- form = local_assigns.fetch(:form)
- group = local_assigns.fetch(:group)

.form-group.col-md-9.row.prepend-top-8
  = form.label :description, s_('ProjectCreationLevel|Allowed to create projects'), class: 'label-bold'
  = form.select :project_creation_level, options_for_select(::Gitlab::Access.project_creation_options, group.project_creation_level), {}, class: 'form-control'
