- add_to_breadcrumbs _('Security Configuration'), project_security_configuration_path(@project)
- breadcrumb_title s_('DastProfiles|Manage DAST scans')
- page_title s_('DastProfiles|Manage DAST scans')

.js-dast-profiles{ data: { new_dast_saved_scan_path: new_project_on_demand_scan_path(@project),
  new_dast_site_profile_path: new_project_security_configuration_dast_scans_dast_site_profile_path(@project),
  new_dast_scanner_profile_path: new_project_security_configuration_dast_scans_dast_scanner_profile_path(@project),
  project_full_path: @project.path_with_namespace } }
