%p
  An alert has been triggered in #{@alert.project_full_path}.

- if env_name = @alert.environment_name
  %p
    Environment: #{env_name}

- if metric_query = @alert.metric_query
  %p
    Metric:

    %pre
      = metric_query

%p
  = link_to('View performance dashboard.', @alert.performance_dashboard_link)
