= _("%{user_name} (%{user_username}) was removed from %{rotation} in %{schedule} in %{project}. ") % { user_name: @user.name, user_username: @user.username, rotation: @rotation.name, schedule: @rotation.schedule.name, project: @project.name }

= _("%{rotation} has been recalculated with the remaining participants. Please review the new setup for %{rotation}. It is recommended that you reach out to the current on-call responder to ensure continuity of on-call coverage.") % { rotation: @rotation.name }
