- page_title _("Value Stream Analytics")
- initial_data = @request_params.valid? ? @request_params.to_data_attributes : {}

#js-cycle-analytics-app{ data: initial_data.merge({ empty_state_svg_path: image_path("illustrations/analytics/cycle-analytics-empty-chart.svg"),
  no_data_svg_path: image_path("illustrations/analytics/cycle-analytics-empty-chart.svg"),
  no_access_svg_path: image_path("illustrations/analytics/no-access.svg") }) }
