- page_title _('Cycle Analytics')

- if cookies[:cycle_analytics_app] == 'true'
  #js-cycle-analytics-app
- else
  .page-title-holder.d-flex.align-items-center
    %h1.page-title= _('Cycle Analytics')

  #cycle-analytics.m-0.mw-100
    .mt-3.py-2.px-3.d-flex.bg-gray-light.border-top.border-bottom.flex-column.flex-md-row.justify-content-between
      %groups-dropdown-filter.dropdown-select{ "@selected" => "setSelectedGroup" }
      %projects-dropdown-filter.ml-md-1.mt-1.mt-md-0.dropdown-select{ "v-if" => "selectedGroup",
        ":group-id" => "selectedGroup.id",
        ":key" => "selectedGroup.id",
        "@selected" => "setSelectedProjects",
        ":multi-select" => 'multiProjectSelect' } }
      .ml-0.ml-md-auto.mt-2.mt-md-0.d-flex.flex-column.flex-md-row.align-items-md-center.justify-content-md-end{ "v-if" => "selectedGroup" }
        %label.text-bold.mb-0.mr-1
          {{ __('Timeframe') }}
        %date-range-dropdown.js-timeframe-filter{ "@selected" => "setSelectedDate",
          ":available-days-in-past" => "dateOptions",
          ":default-selected" => "startDate" }

    %gl-empty-state{ "v-show" => "!selectedGroup",
      "title" => _("Cycle Analytics can help you determine your team’s velocity"),
      "svg-path" => image_path("illustrations/analytics/cycle-analytics-empty-chart.svg"),
      "description" => _("Start by choosing a group to see how your team is spending time. You can then drill down to the project level.") }

    .js-cycle-analytics{ "v-show" => "selectedGroup" }
      .wrapper.mt-3
        .card
          .card-header.font-weight-bold
            {{ __('Recent Activity') }}
          .content-block
            .container-fluid
              .row
                .col-sm-2
                .col-sm-4.col-12.column{ "v-for" => "item in state.summary" }
                  %h3.header {{ item.value }}
                  %p.text {{ item.title }}
      .stage-panel-container
        .card.stage-panel
          .card-header.border-bottom-0
            %nav.col-headers
              %ul
                %li.stage-header.pl-5
                  %span.stage-name.font-weight-bold
                    {{ s__('ProjectLifecycle|Stage') }}
                  %i.has-tooltip.fa.fa-question-circle{ "data-placement" => "top", title: _("The phase of the development lifecycle."), "aria-hidden" => "true" }
                %li.median-header
                  %span.stage-name.font-weight-bold
                    {{ __('Median') }}
                  %i.has-tooltip.fa.fa-question-circle{ "data-placement" => "top", title: _("The value lying at the midpoint of a series of observed values. E.g., between 3, 5, 9, the median is 5. Between 3, 5, 7, 8, the median is (5+7)/2 = 6."), "aria-hidden" => "true" }
                %li.event-header.pl-3
                  %span.stage-name.font-weight-bold
                    {{ currentStage ? __(currentStage.legend) : __('Related Issues') }}
                  %i.has-tooltip.fa.fa-question-circle{ "data-placement" => "top", title: _("The collection of events added to the data gathered for that stage."), "aria-hidden" => "true" }
                %li.total-time-header.pr-5.text-right
                  %span.stage-name.font-weight-bold
                    {{ __('Total Time') }}
                  %i.has-tooltip.fa.fa-question-circle{ "data-placement" => "top", title: _("The time taken by each data entry gathered by that stage."), "aria-hidden" => "true" }
          .stage-panel-body
            %nav.stage-nav
              %ul
                %stage-nav-item{ "v-for" => "stage in state.stages", ":key" => '`ca-stage-title-${stage.title}`', '@select' => 'selectStage(stage)', ":title" => "stage.title", ":is-user-allowed" => "stage.isUserAllowed", ":value" => "stage.value", ":is-active" => "stage.active" }
            .section.stage-events
              %template{ "v-if" => "isLoadingStage" }
                = icon("spinner spin")
              %template{ "v-if" => "currentStage && !currentStage.isUserAllowed" }
                = render partial: "projects/cycle_analytics/no_access"
              %template{ "v-else" => true }
                %template{ "v-if" => "isEmptyStage && !isLoadingStage" }
                  = render partial: "projects/cycle_analytics/empty_stage"
                %template{ "v-if" => "state.events.length && !isLoadingStage && !isEmptyStage" }
                  %component{ ":is" => "currentStage.component", ":stage" => "currentStage", ":items" => "state.events" }
