- page_title _("DevOps Adoption")
- add_page_specific_style 'page_bundles/dev_ops_report'

%h2
  = _('DevOps Adoption')
.js-devops-adoption{ data: { empty_state_svg_path: image_path('illustrations/monitoring/getting_started.svg'), group_id: @group.id } }
