- namespace = local_assigns.fetch(:namespace)
- return unless Gitlab::CurrentSettings.should_check_namespace_plan? && namespace

%li
  %span.light Plan:
  - if namespace.actual_plan&.paid?
    %strong.plan-badge.inline{ data: { plan: namespace.actual_plan_name } }
      = custom_icon('icon_premium')
      = namespace.actual_plan.title
  - else
    %strong.plan-badge.inline
      = custom_icon('icon_premium')
      No Plan
