-# rubocop: disable CodeReuse/ActiveRecord
- return unless Gitlab::CurrentSettings.should_check_namespace_plan?

.form-group.row
  .col-sm-2.col-form-label
    = f.label :plan
  .col-sm-10
    = f.fields_for :gitlab_subscription do |f|
      = f.select :hosted_plan_id, Plan.pluck(:title, :id),
        { include_blank: 'No plan' },
        class: 'form-control'
