- onboarding_issues_experiment_enabled = experiment_enabled?(:onboarding_issues)

= button_tag class: %w[btn btn-success w-100] do
  = in_subscription_flow? || in_trial_flow? || (onboarding_issues_experiment_enabled && !in_invitation_flow? && !in_oauth_flow?) ? _('Continue') : _('Get started!')
