- breadcrumb_title _("Security Dashboard")
- page_title _("Security Dashboard")
- add_page_specific_style 'page_bundles/reports'

#js-project-security-dashboard{ data: project_security_dashboard_config(@project) }
