.row.prepend-top-default.append-bottom-default
  .col-lg-12
    = form_for [@project.namespace.becomes(Namespace), @project], remote: true, authenticity_token: true do |f|
      %fieldset
        .form-group
          = f.select(:upstream_project_ids,  @project.upstream_projects, { }, {class: 'select2 select-wide'})
        = f.submit _('Subscribe'), class: "btn btn-success float-right"

.row.prepend-top-default.append-bottom-default
  .col-lg-12
    %h5
      =_("Subscriptions")
      %span.badge.badge-pill
        2

    %table.table.prepend-top-default
      %thead
        %tr
          %th=_("Project")
          %th=_("Author")
      %tbody
        %tr
          %td project
          %td author
