- add_to_breadcrumbs _("Security Dashboard"), project_security_dashboard_index_path(@project)
- breadcrumb_title _("Vulnerabilities")
- page_title _("Vulnerabilities")

.issue-details.issuable-details
  %h2.title= _("Vulnerabilities")

  #app{ data: { empty_state_svg_path: image_path('illustrations/security-dashboard_empty.svg'),
    vulnerabilities_endpoint: expose_path(api_v4_projects_vulnerabilities_path(id: @project.id)),
    vulnerability_exports_endpoint: expose_path(api_v4_security_projects_vulnerability_exports_path(id: @project.id)),
    project_full_path: @project.full_path,
    dashboard_documentation: help_page_path('user/application_security/security_dashboard/index') } }
    -# Display table loading animation while Vue app loads
    %table.table.gl-table
      %thead
        %tr
          %th.animation-container
            .skeleton-line-1
      %tbody
        - 10.times do |n|
          %tr
            %td.animation-container
              .skeleton-line-1
              .skeleton-line-2
