- add_to_breadcrumbs s_('OnDemandScans|On-demand Scans'), namespace_project_on_demand_scans_path(@project.group, @project)
- add_to_breadcrumbs s_('DastProfiles|Manage profiles'), namespace_project_profiles_path(@project.group, @project)
- breadcrumb_title s_('DastProfiles|New site profile')
- page_title s_('DastProfiles|New site profile')

%h1= s_('DastProfiles|New Site Profile')
