- breadcrumb_title _("Security Dashboard")
- page_title _("Security Dashboard")

#js-group-security-dashboard{ data: { vulnerabilities_endpoint: group_vulnerabilities_endpoint_path(@group),
  vulnerabilities_summary_endpoint: group_vulnerabilities_summary_endpoint_path(@group),
  vulnerabilities_history_endpoint: group_vulnerabilities_history_endpoint_path(@group),
  projects_endpoint: expose_url(api_v4_groups_projects_path(id: @group.id)),
  vulnerability_feedback_help_path: help_page_path("user/application_security/index", anchor: "interacting-with-the-vulnerabilities"),
  empty_state_svg_path: image_path('illustrations/security-dashboard-empty-state.svg'),
  dashboard_documentation: help_page_path('user/application_security/security_dashboard/index'),
  vulnerable_projects_endpoint: group_security_vulnerable_projects_path(@group) } }
