%style
  = Rails.application.assets_manifest.find_sources("themes/#{user_application_theme_css_filename}.css").first.to_s.html_safe if user_application_theme_css_filename
  = Rails.application.assets_manifest.find_sources("startup/#{startup_css_filename(feature_flag: :sidebar_refactor)}.css").first.to_s.html_safe
